@import "~antd/dist/antd.css";

.page-container {
  padding: 12px;
}

.pull-right {
  text-align: right;
}

.note-card {
  border-left: 6px solid #096dd9;
  background-color: #ddeaff;
  margin: 12px 0;
  padding: 12px;
}

.count-down-container {
  min-width: 400px;
  max-width: 500px;
}
.count-down-list {
}

.text-color-red {
  color: #ff4d4f;
}
